body{background-image: url('../images/bearno7.jpg');background-repeat: no-repeat;background-position-x: 50%;background-position-y: 12%;}

.input{margin-left: 45%;margin-top: 10%;line-height: 35px;}
.submitbtndiv{margin-left: 48%;margin-top: 5px}
.submitbtn{width: 70px;font-family: 微软雅黑;height: 35px;font-size: 18px;background-image: url('../images/bearno7.jpg')}
.errormsg{text-align:center}
.errormsgtxt{color:red; font-size: 17px;font-weight: bold;}